// Layout

.content {
  position: relative;
}

.outer-wrapper {
  position: relative;
  padding-bottom: 0;
  overflow-x: hidden;

  &.simple {
    // display: flex;
    // flex-direction: column;
    // height: 100vh;
    background: $white;
    .content {
      flex: 1 1 auto;
    }
    .bottom-pattern {
      position: fixed;
      top: 40%;
    }
  }
  .bottom-pattern {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .content {
    z-index: 2;
  }
  .footer {
    z-index: 2;
    flex: 0 0 auto;
  }
  @include mq($until: md) {
    .bottom-pattern {
      max-width: none;
      width: 250%;
    }
  }
  @include mq(md) {
    padding-bottom: 60px;
  }
  @include mq($from: md, $until: lg) {
    .bottom-pattern {
      max-width: none;
      height: 1000px;
    }
  }
}
