// Layout

.content {
  position: relative;

  &.opacity {
    opacity: 0;
  }
}

.outer-wrapper {
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
  animation: fade-in 3s ease;

  &.simple {
    background: $white;
    .globe-wrapper {
      opacity: 0.6;
    }
    .content {
      flex: 1 1 auto;
    }
    .bottom-pattern {
      position: fixed;
      top: 40%;
    }
  }
  .bottom-pattern {
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 0;
    width: 100%;
  }
  .content {
    z-index: 2;
  }
  .footer {
    z-index: 2;
    flex: 0 0 auto;
  }
  @include mq($until: md) {
    .bottom-pattern {
      max-width: none;
      width: 200%;
    }
  }

  @include mq(md) {
    .bottom-pattern {
      max-width: none;
      bottom: 0;
    }
  }
  @include mq(xxl) {
    .bottom-pattern {
      bottom: -4%;
    }
  }
}

.top-pattern {
  position: relative;

  .pattern {
    z-index: -1;
    position: absolute;
    top: -600px;
    left: 0;
  }
  @include mq($until: md) {
    .pattern {
      top: -140px;
    }
  }
  @include mq($from: 2000px) {
    top: -1000px;
  }
}

.custom-slick {
  .slick-dots li button::before {
    content: "";
    top: 6px;
    left: 6px;
    background-color: $grey;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    opacity: 1;
  }

  .slick-dots li.slick-active button::before {
    background-color: $primary-light;
    opacity: 1;
  }
}