// Utils

.hide-in-mobile {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.show-in-mobile {
  display: block;
  @include mq(md) {
    display: none;
  }
}

.hide-in-tablet {
  @include mq(md) {
    display: none;
  }
}

.show-in-tablet {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.hide-in-desktop {
  @include mq(lg) {
    display: none;
  }
}

.show-in-desktop {
  display: none;
  @include mq(lg) {
    display: block;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 0.0625rem;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.0625rem;
  word-wrap: normal;
}

.screen-reader-link {
  opacity: 0;
}

.disable-scroll-mobile,
.disable-scroll {
  overflow: hidden;
}

.disable-scroll {
  .header {
    &.is-sticky {
      @include mq($until: md) {
        position: relative;
      }

      @include mq(md) {
        &:after {
          content: "";
          width: 100%;
          height: 55px;
          position: fixed;
          background: rgba($black, 0.5);
          top: 0;
          left: 0;
          z-index: 100;
          animation: fade-in 0.3s ease;
        }
      }
    }
  }
}

.success-icon {
  color: $primary;
}

.error-icon {
  color: $error;
}
