.commercial-plant {
  .hero-text {
    max-width: 1432px;
  }

  &-quote {
    margin: 80px 0;

    @include mq(md) {
      margin: 160px 0;
    }
  }

  .model {
    $mch-m: 226px;
    $mch-t: 214px;
    $mch-d: 210px;
    $uib-h: 60px;

    margin-bottom: calc($mch-m - $uib-h);

    @include mq(md) {
      margin-bottom: calc($mch-t - $uib-h);
    }

    @include mq(960px) {
      margin-bottom: calc($mch-d - $uib-h);
    }

    .model-content {
      height: $mch-m;
      position: absolute;
      width: 100%;
      left: 50%;
      top: calc(100% - $uib-h - 60px); //las 60px are aprox
      transform: translateX(-50%);

      @include mq(md) {
        height: $mch-t;
      }

      @include mq(960px) {
        height: $mch-d;
      }
    }

    .ui-cover.top-left {
      width: 100%;
    }
    .ui-cover.bottom {
      height: $uib-h;
    }
  }

  .press {
    margin-bottom: 62px;

    @include mq(md) {
      margin-bottom: 108px;
    }
  }
}

.commercial-plant-grid-1,
.commercial-plant-grid-2 {
  .image-grid {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-item {
      background-color: $white;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        min-height: 100%;
        object-fit: cover;
        display: block;
      }
    }

    &-item--content {
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-col-1,
    &-col-2 {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    @include mq(md) {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;

      &-item {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-item--content {
        flex: none;
        padding: 40px;
      }

      &-col-1,
      &-col-2 {
        gap: 16px;
      }
    }
  }
}

.commercial-plant-grid-1 {
  margin: 60px 0 80px;

  @include mq(md) {
    margin: 160px 0;
  }

  .image-grid {
    &-item--map {
      display: none;
    }

    @include mq(md) {
      &-item--map {
        display: block;
        flex: none;
      }

      &-col-1 {
        flex: 0 0 calc(58.5% - 8px);

        .image-grid-item:last-child {
          flex: none;
        }
      }

      &-col-2 {
        flex: 0 0 calc(41.5% - 8px);
      }
    }
  }
}

.commercial-plant-grid-2 {
  margin-bottom: 80px;

  @include mq(md) {
    margin-bottom: 160px;
  }

  .video-bg {
    width: 100%;
    margin-bottom: 8px;

    @include mq(md) {
      margin-bottom: 16px;
    }
  }

  .video-container {
    position: relative;

    @include mq(md) {
      border-radius: 8px;
    }
  }

  .image-grid {
    @include mq(md) {
      &-col-1 {
        flex: 0 0 calc(41.5% - 8px);
      }

      &-col-2 {
        flex: 0 0 calc(58.5% - 8px);
      }
    }
  }
}

.commercial-plant-grid-2-slider {
  &-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 16px;
    padding-bottom: 8px;

    @include custom-scrollbar;
  }

  &-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.commercial-plant-grid-2-slider-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 316px;
  height: 396px;
  border-radius: 12px;
  overflow: hidden;
  background-color: $white;

  img {
    width: 100%;
    height: auto;
    min-height: 100%;
    object-fit: cover;
    display: block;
  }

  &.spacer {
    min-width: 6px;
    max-width: 6px;
    padding: 0;
    opacity: 0;
    border: 1px solid transparent;
  }
}
