// About

.about {
  .lottie-container {
    margin-bottom: 10px;
  }

  &-clients {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .client {
      flex: 1 1 50%;
      margin-bottom: 38px;
    }
  }

  &-actions {
    text-align: center;
    .button {
      display: inline-flex;
    }
  }

  @include mq($until: md) {
    .basf {
      order: -1;
    }
  }

  @include mq(md) {
    .panel-header {
      margin-bottom: 56px;
    }
    &-management {
      position: relative;
      display: flex;
      justify-content: space-between;
      .about-card {
        &:not(.extended) {
          width: 33.3%;
          // flex: 0 0 calc(33.3% - 66px);
          &:not(:last-child) {
            margin-right: 33px;
          }
        }
      }
    }

    &-clients {
      padding: 66px 0 40px;
      .client {
        flex-basis: 33.3%;
      }
    }

    &-advisors {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .about-position,
      .about-name {
        font-size: 18px;
      }
      .about-card {
        width: 25%;
        // flex: 0 0 calc(33.3% - 66px);
        &:not(:last-child) {
          margin-right: 33px;
        }
      }
    }
  }
  @include mq(lg) {
    &-clients {
      .client {
        flex: 0 0 auto;
        &:not(:last-child) {
          padding-right: 10px;
        }
      }
    }
  }
}

// About card

.about {
  $self: &;

  &-description,
  &-contact,
  .close-button {
    display: none;
  }

  .close-button {
    background: transparent;
    border: none;
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 11;
  }

  &-name,
  &-position,
  &-contact {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }

  &-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 26.6px;
    letter-spacing: -0.02em;
    flex: 1 1 auto;
    margin-bottom: 10px;
  }

  &-name {
    margin-bottom: 4px;
  }

  &-position {
    opacity: 0.5;
    margin-bottom: 27px;
  }

  &-info {
    text-align: left;
  }

  &-contact {
    margin-top: 40px;
    p {
      margin-bottom: 5px;
    }
  }

  &-image {
    img {
      width: 100%;
    }
  }

  &-card {
    cursor: pointer;
    position: relative;
    margin-bottom: 12px;

    .extended-image {
      display: none;
    }

    // Extended card

    &.extended {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 100%;

      .extended-image {
        display: block;
      }

      .normal-image {
        display: none;
      }

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba($black, 0.5);
        top: 0;
        left: 0;
        z-index: 2;
        animation: fade-in 0.2s ease;
      }
      #{$self}-content {
        background: $white;
        border-radius: 12px;
        z-index: 10;
        position: relative;
        padding: 20px;
      }
      #{$self}-image {
        // max-height: 433px;
        flex: 0 0 320px;
      }
      #{$self}-description,
      #{$self}-contact,
      .close-button {
        display: block;
      }
    }
  }

  @include mq($until: md) {
    &-card {
      &.extended {
        width: calc(100% - 16px);
        position: fixed;
        z-index: 10;
        top: 10px;
        bottom: 10px;
        overflow-y: auto;
        #{$self}-image {
          border-radius: 12px;
          margin-bottom: 16px;
        }
        .extended-image {
          display: none;
        }
        .normal-image {
          display: block;
          width: 100%;
        }
      }
    }
  }
  @include mq(md) {
    .close-button {
      top: 56px;
      right: 62px;
    }
    &-card {
      &.extended {
        max-width: 952px;
        #{$self}-content {
          display: flex;
          // align-items: flex-start;
          padding: 54px 60px;
          border-radius: 12px;
        }
        #{$self}-info {
          padding-right: 40px;
          display: flex;
          flex-direction: column;
        }
        #{$self}-image {
          margin-right: 40px;
        }
      }
    }
  }
}
