// Banners

.notification-banner {
  background: $primary-extra-light;
  color: $primary-dark;
  padding: 8px 0 7px;
  z-index: 11;
  position: relative;

  .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text {
    font-size: 18px;
    line-height: 21.6px;
    flex: 1 1 auto;
    font-weight: 400;
    padding-right: 20px;
  }
  @include mq(md) {
    text-align: center;
    .text {
      padding-right: 0;
    }
  }
}
