//Buttons

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 6px;
  padding: 0 30px;
  @include typo-rwd(text-l);
  height: 51px;
  background: $primary-dark;
  color: $white;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.4s ease-in-out;
  background-size: 300% 100%;

  &:hover {
    background-image: linear-gradient(
      156deg,
      rgba(56, 84, 148, 1) 0%,
      rgba(61, 96, 176, 1) 30%,
      rgba(72, 122, 238, 1) 100%
    );

    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }
  &:focus {
    outline: none;
  }
  &.is-disabled {
    background: $grey;
    color: $white;
  }
  &-clear {
    background: $grey-light;
    color: $text-primary-dark;
    height: 41px;
    padding: 0 24px;
    &:hover {
      background: linear-gradient(
        90deg,
        rgba(243, 244, 246, 1) 0%,
        rgba(229, 231, 235, 1) 100%
      );
    }
  }

  &-tiny {
    font-size: 16px;
    line-height: 19px;
    height: 25px;
    padding: 3px 6px 0 6px;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    box-shadow: none;
    svg {
      width: 20px;
      height: 20px;
    }
  }

  .success {
    &-text {
      display: flex;
      align-items: center;
      @include centered(absolute);
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .icon {
    margin-left: 6px;
  }
}
