// Carousel

// Force quotes inside carousel to
// get the tallest item height

.slick-list {
  display: flex !important;
  .slick-track {
    display: flex;
    align-items: center;
  }
  .slick-slide {
    align-self: center;
    > div {
      height: 100%;
    }
    .hide-in-tablet,
    .show-in-tablet,
    .quote,
    .quote-sm {
      height: 100%;
    }
  }
}
