// Challenge section 

.challenge {
  padding-bottom: 120px;
  background: $grey-bg;

  @include mq(md) {
    padding-bottom: 40px;
  }

  @include mq(lg) {
    padding-bottom: 304px;
  }

  &-container {
    position: relative;
  }

  &-vis-wrapper {
    overflow: hidden;
    margin-bottom: 16px;

    @include mq(md) {
      margin-bottom: 0;
      max-width: 1172px;
    }

    .video-container {
      overflow: hidden;
      position: relative;

      @include mq(md) {
        border-radius: 12px;
      }

      @include mq(xl) {
        min-height: 750px;
      }
    }
  }

  &-panel {
    margin-inline: 16px;
    margin-bottom: 0;

    @include mq(md) {
      margin-left: auto;
      margin-right: 4%;
      transform: translateY(-24%);
      max-width: 644px;

    }

    @include mq(xl) {
      position: absolute;
      right: 0;
      bottom: -94px;
      margin-right: 0;
      transform: translateY(0);
    }
  }
}
