// Contact

.contact {
  &-panel {
    background-image: url("../images/panel-bg2.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &-info,
  &-form {
    flex: 1 1 auto;
  }

  .button {
    min-width: 116px;
    margin-bottom: 4px;
    position: relative;
  }

  @include mq(md) {
    &-panel {
      .panel-content {
        display: flex;
        align-items: flex-start;
      }
    }

    &-form {
      margin-top: -20px;
    }
  }
}
