// Contact

.contact {
  z-index: 1 !important;
  &-panel {
    position: relative;
  }
  &-info,
  &-form {
    flex: 1 1 50%;
  }

  &-info {
    .text-l {
      opacity: 1;
      color: $grey-medium;
    }
  }

  .button {
    min-width: 116px;
    margin: 2px 0 4px;
    position: relative;
  }

  .toast {
    z-index: 10;
    background: $white;
  }

  @include mq(md) {
    &-panel {
      background-image: url("../images/panel-bg2-min.png");
      background-repeat: no-repeat;
      background-size: cover;
      .panel-content {
        display: flex;
        align-items: flex-start;
      }
      .beta {
        max-width: 50%;
      }
    }

    &-form {
      position: relative;
    }
    .toast {
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
    }
  }
}
