// Footer

.footer {
  z-index: 1;
  position: relative;
  padding: 58px 0 10px;
  overflow: hidden;

  &-caption {
    font-size: 16px;
    opacity: 0.5;
    line-height: 19px;
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    span {
      margin-right: 8px;
      opacity: 0.5;
      margin-top: 2px;
    }
  }

  .footer-caption {
    display: block;
  }

  .globe {
    text-align: center;
  }

  @include mq($until: sm) {
    padding-left: 146px;
    .globe-wrapper {
      left: 16px;
      top: 62px;
    }
  }

  @include mq($from: sm, $until: lg) {
    padding: 30px 0 30px 200px;
    .globe-wrapper {
      left: 44px;
      top: 36px;
    }
  }

  @include mq($until: lg) {
    .globe-wrapper {
      position: absolute;
      .footer-caption {
        margin-top: 0;
      }
    }
    position: relative;
    &-item,
    &-caption {
      padding: 10px 0;
    }
  }

  @include mq(lg) {
    .wrapper {
      display: flex;
      align-items: center;
      > * {
        flex: 1 1 25%;
      }
    }
  }
  @include mq(lg) {
    .footer-caption {
      &:not(:first-child) {
        text-align: center;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
