// Footer

.footer {
  z-index: 1;
  position: relative;
  padding: 30px 0 130px;
  overflow: hidden;

  &-caption {
    font-size: 16px;
    color: $grey-dark;
    line-height: 19px;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 22px;
    transition: 0.3s ease-in-out;
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 22px;

    .text {
      margin-right: 8px;
      color: $grey-dark;
      margin-top: 2px;
      transition: 0.3s ease-in-out;
    }
  }

  &-caption::before,
  &-item::before {
    content: "";
    height: 1px;
    border-radius: 0.5px;
    width: 0;
    background: rgba($grey-dark, 0.75);
    display: inline-block;
    transition: 0.3s ease-in-out;
  }

  @media (hover: hover) {
    &-caption:not(.copy):hover,
    &-item:hover {
      color: rgba($grey-dark, 0.75);

      &::before {
        width: 10px;
        margin-right: 6px;
      }
    }

    &-item:hover {
      .text {
        color: rgba($grey-dark, 0.75);
      }
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > * {
      flex: 1 1 50%;
    }
  }

  .globe-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -500px;
    z-index: -1;
    opacity: 0.6;
  }

  .globe {
    text-align: center;
  }

  .globe-text {
    .circle {
      text {
        font-size: 12px;
      }
      svg {
        width: 740px;
        height: 740px;
      }
    }
  }

  .globe-desktop {
    display: none;
  }

  @include mq($until: md) {
    .privacy {
      order: -1;
    }
  }

  @include mq(md) {
    .wrapper {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      > * {
        flex: inherit;
      }
    }
    .footer-item,
    .footer-caption {
      padding: 0;
    }
  }

  @include mq(lg) {
    padding: 10px 0 310px;

    .globe-wrapper {
      bottom: -524px;
    }

    .globe-mobile {
      display: none;
    }

    .globe-desktop {
      display: block;
    }

    .globe-text {
      .circle {
        overflow: hidden;
        text {
          font-size: 15px;
        }
        svg {
          width: 1720px;
          height: 1720px;
        }
      }
    }
  }

  .footer-eu-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1 1 50%;

    .eu-funding-logo {
      height: 30px;
      width: auto;
      object-fit: contain;
    }

    .footer-caption.copy {
      padding-bottom: 0;
    }
  }

  @include mq(md) {
    .footer-eu-section {
      flex: inherit;
    }
  }
}
