// Footer

.footer {
  z-index: 1;
  position: relative;
  padding: 30px 0 140px;
  overflow: hidden;

  &-caption {
    font-size: 16px;
    opacity: 0.5;
    line-height: 19px;
    display: block;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 22px;
  }

  &-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 22px;

    .text {
      margin-right: 8px;
      opacity: 0.5;
      margin-top: 2px;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    > * {
      flex: 1 1 50%;
    }
  }

  .globe-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -240px;
    z-index: -1;
  }

  .globe {
    display: none;
    text-align: center;
  }

  .globe-mobile {
    display: block;
  }

  .globe-text {
    .circle {
      text {
        font-size: 12px;
      }
      svg {
        width: 740px;
        height: 740px;
      }
    }
  }
  @include mq($until: md) {
    .privacy {
      order: -1;
    }
  }

  @include mq(md) {
    .wrapper {
      flex-wrap: nowrap;
      align-items: center;
      > * {
        flex: 1 1 25%;
      }
    }
    .footer-item,
    .footer-caption {
      padding: 0;
    }
  }

  @include mq($from: md, $until: lg) {
    .copy {
      flex-basis: 30%;
    }
    .careers {
      flex-basis: 36%;
    }
  }

  @include mq(lg) {
    padding: 10px 0 350px;
    .globe-mobile {
      display: none;
    }
    .globe {
      display: block;
    }
    .globe-wrapper {
      bottom: -524px;
    }

    .globe-text {
      .circle {
        overflow: hidden;
        text {
          font-size: 15px;
        }
        svg {
          width: 1720px;
          height: 1720px;
        }
      }
    }
  }
}
