// Forms

.form {
  &-field {
    margin-bottom: 12px;
    position: relative;
    &.has-error {
      color: $error-dark;
      .form-input {
        border-color: $error-light;
        background: $error-extra-light;
      }
    }
    .error-icon,
    .success-icon {
      position: absolute;
      top: 16px;
      right: 14px;
    }

    .error-text {
      color: black;
      opacity: 0.5;
      font-size: 19px;
      line-height: 23px;
      margin-top: 10px;
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:last-of-type {
      margin-bottom: 16px;
    }
  }

  &-input,
  &-textarea {
    border: 1px solid $grey-light2;
    background: $grey-light;
    border-radius: 6px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 16px 12px 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }
  &-textarea {
    display: block;
    resize: none;
    min-height: 112px;
  }
}
