// Header

.header {
  padding: 20px 0;
  background: $white;
  position: relative;
  z-index: 10;

  .lang-selector {
    z-index: 10;
    -webkit-tap-highlight-color: transparent;
  }

  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 6px 0;
    z-index: 99;
    animation: slide-bottom 0.3s ease;
    .logo {
      padding-left: 34px;
    }
  }
  > .wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  .logo {
    position: relative;
    padding-left: 48px;
    z-index: 11;
    -webkit-tap-highlight-color: transparent;
    img {
      display: block;
      width: 119px;
    }
    .lottie-container {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      margin-top: -2px;
    }
  }

  .nav-item {
    @include typo-rwd(text-l);
    padding: 0 16px;
    border-radius: 6px;
    height: 41px;
    display: flex;
    align-items: center;
    background: transparent;
    transition: all 0.4s ease-in-out;
  }

  .button-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 16px;
    -webkit-tap-highlight-color: transparent;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  // Mobile

  @include mq($until: md) {
    .lang-mobile {
      margin: 0 4px 0 auto;
      position: relative;
      top: 2px;
    }
    &.is-sticky {
      min-height: 46px;
      padding-top: 15px;
    }
    .logo {
      position: relative;
      padding-left: 28px;
      .lottie-container {
        width: 60px;
        height: 60px;
        left: -20px;
      }
      img {
        width: 65px;
      }
    }
    &-content {
      display: none;
      padding-right: 40px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background: $white;
      z-index: 10;
      padding: 0 16px 20px 16px;
      animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      .lang-selector {
        display: none;
      }
    }
    &-wrapper {
      display: block;
      position: absolute;
      top: 100px;
      bottom: 16px;
      left: 16px;
      right: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .header-nav {
      margin-top: auto;
    }

    &.open-menu {
      .header-content {
        display: block;
        background-color: $white;
        background-image: url("../images/menu-pattern.png");
        overflow-y: auto;
        background-repeat: no-repeat;
        background-size: cover;
        .button-clear {
          background: transparent;
          height: auto;
          display: block;
          text-align: left;
        }
      }
    }

    .nav-item,
    .button-clear {
      display: flex;
      align-items: center;
      &:before {
        content: "";
        width: 8px;
        height: 8px;
        background: $primary;
        border-radius: 50%;
        display: inline-block;
        margin-right: 22px;
        opacity: 0.4;
      }
    }
    .nav-item,
    .button-clear {
      padding: 0;
      margin-top: 10px;
      padding: 16px 0;
      -webkit-tap-highlight-color: transparent;
    }

    .show-in-mobile {
      .nav-item {
        &:last-child {
          padding-bottom: 10px;
        }
      }
    }

    .nav-item {
      .button {
        margin-left: 10px;
      }
    }
  }

  @include mq(md) {
    padding: 25px 0;
    &.is-sticky {
      .logo {
        img {
          width: 82px;
        }
        .lottie-container {
          width: 70px;
          height: 70px;
          left: -22px;
        }
      }
    }
    &-nav {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      justify-content: center;
    }
    &-actions {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    .nav-item {
      &:hover {
        transition: all 0.4s ease-in-out;
        color: $primary-dark;
        background: linear-gradient(
          90deg,
          rgba(243, 244, 246, 1) 0%,
          rgba(229, 231, 235, 1) 100%
        );
        &:before {
          opacity: 1;
        }
      }
    }
  }

  @include mq(lg) {
    .nav-item {
      padding: 0 28px;
    }
  }
  @supports (-webkit-touch-callout: none) {
    .lang-mobile {
      top: 1px;
    }
  }
}

// Hamburger

.button-menu {
  background: transparent;
  border: none;
  outline: none;
  z-index: 11;
}

.hamburger {
  display: block;
  width: 14px;
  height: 8px;
  position: relative;
  // margin-top: 4px;
  .line {
    width: 14px;
    height: 2px;
    background: $black;
    display: inline-block;
    position: absolute;
    left: 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    transform-origin: left;
  }

  .line-1 {
    top: 0px;
  }

  .line-2 {
    top: 6px;
  }
}

.open-menu {
  .line-1 {
    transform: translate(4.5px, 0) rotate(45deg);
  }

  .line-2 {
    top: 10px;
    transform: translate(4.5px, 0) rotate(-45deg);
  }
  .button-menu {
    margin-top: -2px;
  }
}

// Specific styles for German page

.de {
  @include mq($from: md, $until: 860px) {
    .header {
      .nav-item {
        font-size: 17px;
        padding: 0 12px;
      }
      .logo {
        padding-left: 26px;
        img {
          width: 80px;
        }
        .lottie-container {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
