// Header

.header {
  background: $white;
  position: relative;
  z-index: 10;

  .lang-selector {
    z-index: 10;
    -webkit-tap-highlight-color: transparent;
  }

  &.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 4px 0;
    z-index: 99;
    animation: slide-bottom 0.3s ease;
    + .content {
      padding-top: 96px;
    }
    .logo {
      padding-left: 34px;
    }
  }
  > .wrapper {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 56px;
    position: relative;
  }

  > .wrapper::before {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;

    @include mq(xl) {
      display: none;
    }

  }

  &-actions,
  &-legal {
    width: 100%;
  }

  &-content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  .logo {
    position: relative;
    padding-left: 48px;
    z-index: 11;
    -webkit-tap-highlight-color: transparent;
    img {
      display: block;
      width: 119px;
    }
    .lottie-container {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      margin-top: -2px;
    }
  }

  .nav-item {
    font-weight: 500;
    padding: 0 16px;
    display: flex;
    align-items: center;
    background: transparent;
    transition: all 0.3s ease-in-out;
    color: $text-primary-dark;
    border-bottom: 1px solid $text-primary-dark;
  }

  .button-menu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 20px 17px;
    -webkit-tap-highlight-color: transparent;
    margin-top: -1px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
  }


  @include mq($until: xl) {

    .lang-mobile {
      margin: 0 16px 0 auto;

    }
    &.is-sticky {
      min-height: 48px;
      padding: 0;
      + .content {
        padding-top: 47px;
      }
    }
    .logo {
      position: relative;
      padding-left: 28px;
      .lottie-container {
        width: 60px;
        height: 60px;
        left: -20px;
      }
      img {
        width: 81px;
      }
    }
    &-content {
      display: none;
      min-height: 100dvh;
      padding-right: 40px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
      background: $white;
      z-index: 10;
      padding: 0 16px 20px 16px;
      animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      .lang-selector {
        max-width: 55px;
        margin-right: auto;
        margin-left: 0;
        height: fit-content;    
        margin-top: 20px; 
        margin-bottom: 32px;
        
        button {
          max-height: 30px;
          padding: 9px 16px;
        }
      }
    }
    &-wrapper {
      display: block;
      position: absolute;
      top: 100px;
      bottom: 16px;
      left: 32px;
      right: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: auto;
    }

    .header-nav {
      margin-top: 76px;
      width: 100%;
    }

    &.open-menu {
      .header-content {
        display: block;
        background-color: $white;
        background-image: url("../images/menu-pattern-m.png");
        overflow-y: auto;
        background-repeat: no-repeat;
        background-size: cover;
        .button-clear {
          background: transparent;
          height: auto;
          display: block;
          text-align: left;
        }
      }
    }

    .button-clear {
      border-radius: 0;
    }

    .nav-item,
    .button-clear {
      display: flex;
      align-items: center;
      
    }
    .nav-item,
    .button-clear {
      padding: 0;
      padding: 16px 0;
      -webkit-tap-highlight-color: transparent;
    }

    .show-in-mobile {
      .nav-item {
        &:last-child {
          padding-bottom: 10px;
        }
      }
    }

    .nav-item {
      @include typo-rwd(beta);

      .button {
        margin-left: 10px;
      }
    }
  }

  @include mq(md) {
    &.open-menu {
      .header-content {
        background-image: url("../images/menu-pattern-d.png");
      }
    }
  }

  @include mq(xl) {
    &.is-sticky {
      .logo {
        img {
          width: 82px;
        }
        .lottie-container {
          width: 70px;
          height: 70px;
          left: -22px;
        }
      }
    }

    .button-clear.nav-item {
      border-radius: 6px;
      background-color: #F3F4F6;
      margin-left: 16px;

      &:hover {
        color: black;
        background: $primary-border-light;
      }
    }

    .nav-item {
      &:hover {
        transition: all 0.3s ease-in-out;
        color: $primary-light;

        &:before {
          opacity: 1;
        }
      }
    }

    > .wrapper {
      min-height: 80px;
    }

    &-nav {
      padding-left: 100px;
      margin-right: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 920px;
      margin-left: auto;
      flex-grow: 1;
      padding-left: 80px;
    }

    & .nav-item {
      height: 41px;
      border: none;
    }

    &-actions {
      display: flex;
      align-items: center;
      width: auto;
    }

  }

  @supports (-webkit-touch-callout: none) {
    .lang-mobile {
      top: 1px;
    }
  }
}

body.disable-scroll .header {
  opacity: 0;
}

// Hamburger

.button-menu {
  background: transparent;
  border: none;
  outline: none;
  z-index: 11;
}

.hamburger {
  display: block;
  width: 22px;
  height: 14px;
  position: relative;

  .line {
    width: 22px;
    height: 3px;
    background: $text-primary-dark;
    display: inline-block;
    position: absolute;
    left: 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    transform-origin: left;
  }

  .line-1 {
    top: 0px;
  }

  .line-2 {
    top: 10px;
  }
}

.open-menu {
  .line-1 {
    transform: translate(2.5px, -2.5px) rotate(45deg);
  }

  .line-2 {
    top: 10px;
    transform: translate(2.5px, 2.5px) rotate(-45deg);
  }
  .button-menu {
    margin-top: -2px;
  }
}

// Specific styles for German page

.de {
  @include mq($from: md, $until: 860px) {
    .header {
      .nav-item {
        font-size: 17px;
        padding: 0 12px;
      }
      .logo {
        padding-left: 26px;
        img {
          width: 80px;
        }
        .lottie-container {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
