// Header

.header {
  padding: 14px 0;
  > .wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-content {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
  }

  .logo {
    display: inline-block;
    width: 89px;
    img {
      display: block;
    }
  }

  .nav-item {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    padding: 0 16px;
  }

  .button-menu {
    position: absolute;
    top: 0;
    right: 14px;
  }

  @include mq($until: md) {
    .logo {
      width: 89px;
    }
    .header-content {
      display: none;
      padding-right: 40px;
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      background: $white;
      z-index: 10;
      padding: 0 16px 16px 16px;
      animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    &.open-menu {
      .header-content {
        display: block;
      }
    }
    .nav-item,
    .lang-selector .lang-item {
      display: block;
      padding: 0;
      margin-bottom: 10px;
    }
  }

  @include mq(md) {
    padding: 30px 0;
    .logo {
      width: 162px;
    }
    &-nav {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      justify-content: center;
    }
    &-actions {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }

  @include mq(lg) {
    .nav-item {
      padding: 0 28px;
    }
  }
}

// Hamburger

.button-menu {
  background: transparent;
  border: none;
  outline: none;
}

.hamburger {
  display: block;
  width: 25px;
  height: 25px;
  position: relative;
  .line {
    width: 100%;
    height: 3px;
    background: $black;
    display: inline-block;
    position: absolute;
    left: 0;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    transform-origin: left;
  }

  .line-1 {
    top: 0;
  }

  .line-2 {
    top: 8px;
  }

  .line-3 {
    top: 16px;
  }
}

.open-menu {
  .line-1 {
    transform: translate(4.5px, 0) rotate(45deg);
  }
  .line-2 {
    opacity: 0;
  }
  .line-3 {
    top: 18px;
    transform: translate(4.5px, 0) rotate(-45deg);
  }
}
