// Headings

.jumbo {
  @include typo-rwd(jumbo);
}

.alpha {
  @include typo-rwd(alpha);
}

.beta {
  @include typo-rwd(beta);
}

.lead-xs {
  @include typo-rwd(lead-xs);
  text-transform: uppercase;
}

.lead-m {
  @include typo-rwd(lead-m);
  text-transform: uppercase;
}

.text-s {
  @include typo-rwd(text-s);
}

.text-m {
  @include typo-rwd(text-m);
}

.text-l {
  @include typo-rwd(text-l);
}

.text-xl {
  @include typo-rwd(text-xl);
}

.caption {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.4;
  letter-spacing: -0.02em;
}
