// Hero

.hero {
  min-height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  z-index: 10;

  &-bg {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    video,
    iframe {
      flex: 1 0 auto;
      object-fit: cover;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &-text {
    width: 100%;
    padding: 120px 0 40px;
  }

  &-intro {
    background: $white;
  }

  @include mq(md) {
    min-height: calc(100vh - 91px);
  }

  @include mq(lg) {
    &-text {
      padding: 280px 0 80px;
    }
  }
}

.de {
  .hero {
    &-text {
      max-width: 1080px;
    }
  }
}

.video-container {
  flex: 1 0 auto;
  overflow: hidden;
  min-height: calc(100vw * 0.57);
  background: $grey-bg;

  iframe,
  video {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .sensor {
    width: auto;
    object-fit: initial;
    height: 100%;
    flex: 1 0 auto;
    max-width: none;
    min-width: 100vw;
  }
}

.video-size-wrapper {
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  height: max(100%, calc(100vw * 0.57));
}

// Hero with img 

.hero__img {

  .hero-text .lead-m {
    margin-bottom: 20px;
    @include mq(md) {
      margin-bottom: 40px;
    }
  }

  .hero-img-container {
    flex-grow: 1;
    display: flex;

    img {
      object-fit: cover;
      width: 100%;
      @include mq(xl) {
        max-height: 960px;
      }
    }
  }
}