// Hero

.hero {
  position: relative;
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;

  &-bg {
    width: 100%;
    overflow: hidden;
    flex: 1 1 auto;
    z-index: 10;
    video {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &-text {
    width: 100%;
    max-width: 986px;
    padding: 14px 0 25px;
  }

  &-pattern {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
  }

  &-intro {
    background: $white;
  }

  @include mq(md) {
    height: calc(100vh - 91px);
    &-text {
      padding: 62px 0;
    }
  }
}
