// Lang selector

.lang-selector {
  position: relative;

  .lang-item {
    background: transparent;
    border: none;
    outline: none;
    padding: 17px 16px;
    line-height: 0.8;
    font-weight: 500;
    &:disabled {
      display: none;
    }
  }
}
