
// Group 
.model-cards {
  max-width: 400px;
  margin-inline: auto;

  @include mq(960px) {
    max-width: 1040px;
  }


  .slick-slider {
    overflow: visible;
  }

  .slick-list {
    border-radius: 12px;
  }

  .slick-dots li button::before {
      content:"";
      top: 6px;
      left: 6px;
      background-color: $grey;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      opacity: 1;
  }

  .slick-dots li.slick-active button::before  {
    background-color: $primary-light;
    opacity: 1;
  }

  &-desktop {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include mq(xl) {
      gap: 60px;
    }
  }

}

// Card
.model-card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: $white;
  border-radius: 12px;

  @include mq(md) {
    padding: 48px 16px 40px;
  }

  &-head {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 80px;
    line-height: 100%;
    gap: 4px; 

    .jumbo {
      font-size: 80px;
      line-height: 100%;
    }
  
    .beta {
      font-size: 24px;
      line-height: 100%;
    }
  }

  &-body {
    text-align: center;
  }
}