.nav-dropdown {
  position: relative;
  display: inline-block;

  &-title.is-open {
    color: $primary-light;
  }

  &-area {
    opacity: 0;
    transform: translate(-50%, -4px);
    transition: all 0.3s ease;
    pointer-events: none;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    top: 70%;
    left: 50%;
    padding: 20px 0 0 0;
    background: transparent;
    min-width: max-content;

    &.is-open {
      opacity: 1;
      transform: translate(-50%, 0);
      pointer-events: auto;
      visibility: visible;
    }

    &.is-open .nav-dropdown-menu::before {
      top: 10px;
    }
  }

  &-menu {
    position: relative;
    background-color: $white;
    border-radius: 12px;
    padding: 20px 40px 20px 20px;
    border: 1px solid $primary-border-light;
    width: fit-content;
    transform: translateX(14%);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

    &::before,
    &::after {
      content: "";
      border: solid transparent;
      position: absolute;
    }

    &::before {
      background: $white;
      border: 1px solid $primary-border-light;
      height: 38px;
      left: 50%;
      top: 16px;
      transform: rotate(-135deg) translateX(23%) translateY(-120%);
      transform-origin: 0 0;
      width: 38px;
      border-bottom-right-radius: 6px;
      transition: all 0.2s ease-out;
    }

    &::after {
      background: $white;
      height: 80%;
      left: 8px;
      top: 0px;
      width: 80%;
      border-top-color: $white;
      border-width: 1px;
    }

    &-inner {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
}

.nav-dropdown-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  &:hover {
    .nav-item {
      color: $primary-light;
    }
  }

  &-icon {
    width: 40px;
    height: 40px;
  }
  .nav-item {
    padding: 0;
  }
}