// Panel

.panel {
  background: $white;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 12px;

  .beta {
    margin-bottom: 14px;
  }

  .lead-m {
    color: rgba($black, 0.4);
    margin-bottom: 14px;
  }
  .text-l {
    opacity: 0.5;
    margin-bottom: 22px;
  }

  &-header {
    .beta {
      span {
        color: $primary-dark;
      }
    }
    .lottie-container {
      margin-left: -18px;
    }
  }
  @include mq(md) {
    margin-bottom: 68px;
    padding: 40px 18px 28px 24px;
    &-header {
      .text-l {
        margin-bottom: 39px;
      }
    }
  }

  @include mq(lg) {
    padding: 56px;
  }
}

.lottie-container {
  width: 80px;
  height: 80px;
}
