// Panel

.panel {
  background: $white;
  border-radius: 12px;
  padding: 40px 18px 28px 24px;
  margin-bottom: 12px;
  .lottie-container {
    margin-bottom: 24px;
  }
  .beta {
    margin-bottom: 14px;
  }

  .lead-m {
    color: $grey-transparent-40;
    margin-bottom: 14px;
  }
  .text-l {
    opacity: 0.5;
    margin-bottom: 22px;
  }

  &-header {
    .beta {
      span {
        color: $primary;
      }
    }
  }
  @include mq(md) {
    padding: 56px;
    margin-bottom: 68px;
    &-header {
      .lottie-container {
        margin-bottom: 46px;
      }
      .lead-m {
        margin-bottom: 20px;
      }
      .text-l {
        margin-bottom: 39px;
      }
    }
  }
}
