// Process

.process {
  z-index: 3;
  position: relative;
  margin-top: 80px;

  @include mq(md) {
    margin-top: 160px;
  }
}

// Process content

.process {
  $self: &;
  &-panel {
    margin-bottom: 0;

    @include mq(md) {
      padding-bottom: 80px;
    }

    @include mq(lg) {
      padding-bottom: 120px;
    }
  }
  &-content {
    .bullet {
      position: relative;
      margin-bottom: 16px;
      max-width: 283px;
      text-align: center;
      border-radius: 12px;
      padding: 36px 22px;
      @include typo-rwd(text-m);
      cursor: pointer;
      color: $black;
      background-color: $white;
      border: 2px solid $primary-border-light;
      will-change: color, background-color, border-color;
      transition: color 0.2s ease, background-color 1s ease,
        border-color 1s ease;

      &.active {
        color: $white;
        background-color: $primary-light;
        border-color: $primary-light;
      }

      @include mq(md) {
        max-width: 212px;
        padding-inline: 12px;
      }
    }

    #{$self}-graphic-caption {
      margin-top: 34px;
    }

    .graphic-section {
      position: relative;
      margin-bottom: 6px;
      img {
        display: block;
        transition: all 1s ease;
        cursor: pointer;
      }
      .section-img {
        opacity: 1;
      }
      .section-img-active {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
      }
      &.active {
        .section-img {
          opacity: 0;
        }
        .section-img-active {
          opacity: 1;
        }
      }
    }

    .desktop-graphic {
      display: flex;
      min-height: 100%;
      align-items: center;
    }

    .mobile-graphic {
      display: none;
      align-items: center;
      margin-top: 29px;
      .section-img,
      .section-img-active {
        margin-bottom: 10px;
      }
    }

    @include mq($until: md) {
      .desktop-graphic {
        display: none;
      }

      .mobile-graphic {
        flex-direction: column;
        display: flex;
      }
    }

    @include mq(md) {
      display: flex;
      align-items: stretch;

      #{$self}-bullets {
        display: flex;
        flex-direction: column;
        min-height: 100%;
      }

      #{$self}-bullets-container {
        height: 100%;
        min-height: calc(100% + 40px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      #{$self}-graphic {
        flex: 1 1 auto;
        padding-left: 10px;
      }

      #{$self}-bullets-caption {
        margin-top: auto;
        transform: translateY(-40px);
      }

      .graphic-section {
        margin-right: 10px;
        margin-bottom: 0;
      }
    }

    @include mq(lg) {
      #{$self}-graphic {
        padding-left: 100px;
      }

      #{$self}-bullets-caption {
        transform: translateY(0);
      }

      #{$self}-bullets-container {
        align-items: flex-end;
      }
    }
  }
}
