// Quotes

.quotes {
  margin-top: 40px;
  @include mq(md) {
    margin-top: 160px;
  }
}

// Quote

.quote {
  background: $white;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &-author {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-img {
    width: 100px;
    height: 100px;
    max-height: 100px;
    min-width: 100px;
    border-radius: 12px;
    overflow: hidden;
  }

  &-extra {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & .captions {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    & .text-s {
      color: $grey-medium;
    }
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
  }

  @include mq(lg) {
    flex-direction: row-reverse;
    padding: 40px;
    align-items: center;
    gap: 40px;

    &-author {
      gap: 40px;
      width: 100%;
      max-width: 422px;
    }

    & .text-s {
      text-wrap: nowrap;
    } 
  }
}
