// VARIABLES

// Colors

$black: #000;
$white: #fff;
$primary: #4579dd;
$primary-dark: #385494;
$grey-light: #f6f6f6;
$grey-transparent-40: rgba($black, 0.4);
$grey-300: #d1d5db;
$success: #19aa86;
$error: #ef4444;
$error-dark: #7f1d1d;
$error-light: #fca5a5;
$error-extra-light: #fff7f7;
$beige-100: #fdf6cf;

// Fonts
$font-base: 16px;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 900;

// Layout
$layout-maxWidth: 1220px;

$xxs: 0;
$xs: 390px;
$sm: 520px;
$md: 760px;
$lg: 960px;
$xl: 1220px;
$xxl: 1600px;

// Breakpoints
$grid-breakpoints: (
  xs: $xs,
  // Extra small screen / phone
  sm: $sm,
  // Small screen / phone
  md: $md,
  // Medium screen / tablet
  lg: $lg,
  // Large screen / desktop
  xl: $xl,
  // Extra large screen / wide desktop
  xxl: $xxl // Extra large screen / wide desktop,,,,,,,,,,,,,,,,,,,,,,,,,
);
