// VARIABLES

// Colors

$black: #000;
$white: #fff;

$primary: #4579dd;
$primary-light: #487aee;
$primary-dark: #385494;
$primary-extra-light: #ecf1fc;
$primary-border-light: #D6E3FF;

$grey: #d1d5db;
$grey-bg: #f7f7f7;
$grey-light: #f6f6f6;
$grey-light2: #f0f0f0;
$grey-medium: #9ca3af;
$grey-dark: #6b7280;
$grey-border: #e5e7eb;

$success: #19aa86;
$error: #ef4444;
$error-dark: #7f1d1d;
$error-light: #fca5a5;
$error-extra-light: #fff7f7;

// Fonts
$font-base: 16px;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 900;

// Layout
$layout-maxWidth: 1600px;

$xxs: 0;
$xs: 390px;
$sm: 520px;
$md: 780px;
$lg: 1060px;
$xl: 1220px;
$xxl: 1600px;

// Breakpoints
$grid-breakpoints: (
  xs: $xs,
  // Extra small screen / phone
  sm: $sm,
  // Small screen / phone
  md: $md,
  // Medium screen / tablet
  lg: $lg,
  // Large screen / desktop
  xl: $xl,
  // Extra large screen / wide desktop
  xxl: $xxl // Extra large screen / wide desktop,,,,,,,
);
