// Texts

// Font face

@font-face {
  font-family: "DIN Next LT Pro";
  src: url("../fonts/DINNextLTPro-Light.woff2") format("woff2"),
    url("../fonts/DINNextLTPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url("../fonts/DINNextLTPro-Regular.woff2") format("woff2"),
    url("../fonts/DINNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url("../fonts/DINNextLTPro-Medium.woff2") format("woff2"),
    url("../fonts/DINNextLTPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url("../fonts/DINNextLTPro-Bold.woff2") format("woff2"),
    url("../fonts/DINNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$font: "DIN Next LT Pro", sans-serif;

$font-families: (
  font: $font,
);

$typography: (
  body: (
    format: (
      xxs: (
        ff: font,
        lh: normal,
      ),
    ),
  ),

  jumbo: (
    format: (
      xxs: (
        fz: 36px,
        lh: 38px,
        ls: -0.03em,
        fw: 500,
      ),
      md: (
        fz: 80px,
        lh: 84px,
      ),
    ),
  ),

  alpha: (
    format: (
      xxs: (
        fz: 32px,
        lh: 36px,
        ls: -0.03em,
        fw: 500,
      ),
      md: (
        fz: 36px,
        lh: 40px,
      ),
    ),
  ),

  beta: (
    format: (
      xxs: (
        fz: 20px,
        lh: 26px,
        fw: 400,
        ls: -0.03em,
      ),
      md: (
        fz: 24px,
        lh: 28px,
      ),
    ),
  ),

  text-xl: (
    format: (
      xxs: (
        fz: 20px,
        lh: 26px,
        fw: 400,
        ls: -0.03em,
      ),
    ),
  ),

  text-l: (
    format: (
      xxs: (
        fz: 16px,
        lh: 20px,
        fw: 400,
        ls: -0.02em,
      ),
    ),
  ),

  text-m: (
    format: (
      xxs: (
        fz: 16px,
        lh: 20px,
        fw: 500,
        ls: -0.03em,
      ),
    ),
  ),  

  text-s: (
    format: (
      xxs: (
        fz: 14px,
        lh: 16px,
        fw: 400,
        ls: -0.02em,
      ),
    ),
  ),

  lead-m: (
    format: (
      xxs: (
        fz: 14px,
        lh: 16px,
        fw: 500,
        ls: 0.1em,
      ),
    ),
  ),

  quote-l : (
    format: (
      xxs: (
        fz: 20px,
        lh: 24px,
        fw: 400,
        ls: -0.03em,
      ),
      md: (
        fz: 36px,
        lh: 40px,
      ),
    ),
  ),

  quote-m : (
    format: (
      xxs: (
        fz: 26px,
        lh: 30px,
        fw: 400,
        ls: -0.03em,
      ),
      md: (
        fz: 28px,
        lh: 36px,
      ),
    ),
  ),
);
