// Texts

// Font face

@font-face {
  font-family: "DIN Next LT Pro";
  src: url("../fonts/DINNextLTPro-Light.woff2") format("woff2"),
    url("../fonts/DINNextLTPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url("../fonts/DINNextLTPro-Regular.woff2") format("woff2"),
    url("../fonts/DINNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url("../fonts/DINNextLTPro-Medium.woff2") format("woff2"),
    url("../fonts/DINNextLTPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Next LT Pro";
  src: url("../fonts/DINNextLTPro-Bold.woff2") format("woff2"),
    url("../fonts/DINNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$font: "DIN Next LT Pro", sans-serif;

$font-families: (
  font: $font,
);

$typography: (
  body: (
    format: (
      xxs: (
        ff: font,
        lh: normal,
      ),
    ),
  ),

  jumbo: (
    format: (
      xxs: (
        fz: 36px,
        lh: 37.8px,
        ls: -0.03em,
        fw: 500,
      ),
      lg: (
        fz: 80px,
        lh: 84px,
        ls: -0.03em,
      ),
    ),
  ),

  alpha: (
    format: (
      xxs: (
        fz: 36px,
        lh: 37.8px,
        ls: -0.03em,
        fw: 500,
      ),
      lg: (
        fz: 42px,
        lh: 44.1px,
        ls: -0.03em,
      ),
    ),
  ),
  beta: (
    format: (
      xxs: (
        fz: 32px,
        lh: 1.1,
        fw: 500,
        ls: -0.03em,
      ),
      lg: (
        fz: 36px,
        lh: 37.8px,
      ),
    ),
  ),

  lead-xs: (
    format: (
      xxs: (
        fz: 10px,
        lh: 10.5px,
        fw: 500,
        ls: -0.04em,
      ),
    ),
  ),

  lead-m: (
    format: (
      sm: (
        fz: 15px,
        lh: 18px,
        fw: 500,
        ls: -0.1em,
      ),
    ),
  ),

  text-s: (
    format: (
      sm: (
        fz: 14px,
        lh: 16.8px,
        fw: 400,
        ls: -0.02em,
      ),
    ),
  ),

  text-m: (
    format: (
      xxs: (
        fz: 16px,
        lh: 19.2px,
        fw: 400,
        ls: -0.02em,
      ),
    ),
  ),

  text-l: (
    format: (
      xxs: (
        fz: 18px,
        lh: 21.6px,
        fw: 400,
        ls: -0.02em,
      ),
    ),
  ),

  text-xl: (
    format: (
      xxs: (
        fz: 20px,
        lh: 24px,
        fw: 400,
        ls: -0.02em,
      ),
    ),
  ),
);
